<section class="section">
  <div class="container">
    <div class="columns">
      <%= render 'trends' %>
      <%= render 'feed' %>
      <%= render 'who-to-follow' %>
    </div>
  </div>
</section>

<%
=begin%>
 <div id="tweeets">
  <% @tweeets.each do |tweeet| %>
    <%= render tweeet %>
    <p>
      <%= link_to "Show this tweeet", tweeet %>
    </p>
  <% end %>
</div>

<%= link_to "New tweeet", new_tweeet_path %> 
<%
=end%>
